
.scoreboard {
  display: flex;
  justify-content: center;
}

.score {
  margin: 10px;
}

.score p {
  margin: 0px;
  font-size: 4em;
}

.definition {
  text-align: center;
  font-size: 2.5em;
  margin: 0px auto;
  width: 90%;
}

.answerSpaces {
  margin: 5% 0% 5% 0%;
  text-align: center;
}

.answerSpaces span {
  margin: 0% 1% 0% 1%;
  font-size: 2.5em;
  font-weight: bold;
}

.game-buttons, .action-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-button {
  color: white;
  cursor: pointer;
  background-color: #56CCF2;
  border-radius: 10px;
  width: 30%;
  height: 40%;
  margin: 10px;
  display: table-cell;
  vertical-align: middle;
  transition: 0.2s;
}

.game-button p {
  font-size: 1.75em;
  margin: 15px auto;
  text-align: center;
}

.game-button:hover {
  color: black !important;
}

/* Screens below 640 px */
@media screen and (max-width: 640px) {
  .definition {
    font-size: 1.5em;
  }
  .game-button p {
    font-size: 1.25em;
  }
  .answerSpaces span {
    font-size: 1.5em;
  }
}
