@font-face {
  font-family: BrandonGrotesque;
  src: url('../../Library/Fonts/Brandon_reg.otf');
}

@font-face {
  font-family: BrandonGrotesque;
  src: url('../../Library/Fonts/Brandon_bld.otf');
  font-weight: bold;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: BrandonGrotesque;
  background-color: white;
}

.enter {
  fill: #34b269;
}

.update {
  fill: #333;
}

.exit {
  fill: #eb5757;
}
