/* Fonts */
@font-face {
    font-family: BrandonGrotesque;
    src: url('../../assets/fonts/Brandon_reg.otf');
}

@font-face {
    font-family: BrandonGrotesque;
    src: url('../../assets/fonts/Brandon_bld.otf');
    font-weight: bold;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: BrandonGrotesque;
  background-color: #f1f1f1;
}

.home-container {
  width: 100%;
  height: 100%;
  background: white;
 }

.form-container, .demo-container {
  width: 70%;
  border-radius: 10px;
  margin: 20px auto 20px;
  padding: 20px;
  background: white;
}

.header h2 {
  color: rgb(245, 165, 14);
  font-size: 4em;
  margin: -20px;
  text-align: center;
}

.logo {
  height: 25%;
  width: 25%;
  mind-width: 300px;
  display: block;
  margin: auto;
}

.pitch {
  font-size: 2em;
  text-align: center;
}

.home-container .action-buttons {
  margin: auto;
  display: flex;
  justify-content: center;
}

.brand {
  color: rgb(245, 165, 14);
}

/* Screens below 640 px */
@media (max-width: 640px) {
  .form-container, .demo-container {
    width: 100%;
    margin: 0px auto 20px;
    padding: 0px;
  }
  .pitch {
    font-size: 1.5em;
  }
  .header h2 {
    font-size: 3em;
  }
  .score p, .timer p {
    font-size: 2em !important;
  }
  .timer p {
    min-width: 70px;
  }
}
