.form-header {
  width: 80%;
  margin: auto;
}

.form-header p {
  font-size: 2em;
  text-align: center;
}

form {
  height: 60%;
  margin: 0px auto;
  width: 65%;
}

.small-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-input {
  display:flex;
  flex-direction:row;
  flex-basis: 50%;
}

input {
  font-family: BrandonGrotesque;
  font-size: 1.5em;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: none;
  margin: 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.checkmark {
  height: 50px;
  width: auto;
}
