.form-header {
  width: 80%;
  margin: auto;
}

.form-header p {
  font-size: 2em;
  text-align: center;
}

form {
  height: 60%;
  margin: 0px auto;
  width: 65%;
}

.small-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.small-input {
  display:flex;
  flex-direction:row;
  flex-basis: 50%;
}

input[type=submit] {
    width: auto !important;
}

input[type=submit]:hover {
    background-color: #FF7575;
    color: white;
}

.checkmark {
  height: 40px;
  margin: 18px auto;
  width: auto;
}
